#colorbar {
    width:220px;
    margin-left:0px;
    margin-top:1px;
    
}

.colordomain {
    display: flex;
    flex-direction:column;
   .group {justify-content:space-between; display:flex;}
    label {display:block;}

}

.colorEdit {
   
     position:absolute;
     float:left;
     border-radius:5px;
     border:2px solid #777;
     margin-left:10px;
     background:#222;
     padding:5px;
     z-index:1000;
     min-width:300px;

     .save {
         margin:5px;
         padding:5px;
         border:1px solid #ccc;
   
         .enabled {
               background:#444;
               box-shadow:0px 0px 15px 5px white;
          }
         .createNew {
           float:right; 
         }

      }
     .cancelBtn {
        &:hover{
           box-shadow:0px 0px 30px red;
        }
     }

     .select {  
           margin-left:10px;
           height:300px;
           overflow-y:auto;
           label {padding-right:10px;}
           
           .selectColor {
               display:grid;
               grid-template-columns:5% 45% 35% 15%;
               &.even {
                   background:#333;
                   &.selected {
                        background:#aaa;
                    }
               }
               .palette {
                  display:flex;
                  align-items:center;
                  div {
                    width:15px; height:15px;
                  }
                } 
               
           }
           .actions {
              .edit {border-radius:3px; border:1px solid white; color:white; background:#222;}
              .delete {background:#222;border-radius:3px; color: red; border:1px solid white;}

            }
           .selected {
                background:#aaa;
            }

    }
}



.editColors {
   padding:2px;
   border:1px solid #aaa;
   margin:2px;
   cursor:pointer;
   background: #333;
   font-size:15px;
   color: white;
   border-radius:2px;

   &:hover { 
       box-shadow: 0px 0px 5px white;
       background:#222;
       color:white;
   
   }

}
  
a {color: #ccc;}
h4 {margin:2px; margin-left:0px};
