<div class="colordomain">
       <div class="group">
           <div>
                 Linear  <input [(ngModel)]="colorOptions.type" name="type_{{layer.guid}}_{{parent_guid}}" (change)="updateType()" value="Linear" type="radio" />
                 Log     <input [(ngModel)]="colorOptions.type" name="type_{{layer.guid}}_{{parent_guid}}" (change)="updateType()" value="Log"    type="radio" />
           </div>
       </div>

       <div id="color_{{layer.guid}}"> </div>
       <div>[{{color.domains}}] </div>
       <div class="">
        <button class="editColors" (click)="editColors=!editColors;"> Edit Colors </button>
       </div>
</div>

<div *ngIf="editColors" class="colorEdit" >

      <button class="btn cancelBtn" (click)="cancel()"> X </button>
      <div class="select">
         <label> Selected </label> 
         <div id="colordivs" *ngFor="let c of colors; let idx = index;" id="color_{{c.id}}" [class.even]="idx % 2==0" [class.selected]="c.id == selectedColorId"  class="selectColor" >
            <input (change)="updateSelected(c.id)" type="radio" [value]="c.id" name="colorId" [(ngModel)]="selectedColorId"> 
            <label (click)="updateSelected(c.id)" >{{c.name}}</label> 
            <div class="palette">
                 <div  *ngFor="let p of c.palette.split(',');" [ngStyle]="{'background-color': p}" > </div>
            </div> 
            <div class="actions" *ngIf="c.id == selectedColorId"> 
                 <button class="btn edit" (click)="editColor(c)"> &#x270e; </button>
                 <button class="btn delete" (click)="deleteColor(c)">&#x2718;</button>
            </div>
         </div>
      </div>
      <div class="save">
        <button class="btn" [disabled]="!save" [class.enabled]="save" (click)="saveSelection()">Save Selection</button>
        <button class="btn cancelbtn" (click)="cancel()"> Cancel </button>
        <button class="btn createNew" (click)="createColorbar()" > Create New Colorbar </button>
      </div>
      <div *ngIf="edit">
          <app-colorbar-editor (cancelEdit)="cancelEdit($event)" [color]="selectedColor" [map]="map"> </app-colorbar-editor>
      </div>
</div>

