<div style="text-align:center">
  <p *ngIf="showInstructions" class="instruction" > Drag or Double Click Fields Below to Create New Maps </p>
  <div class="main">
    <div class="leftContent">
      <app-map id="map"> </app-map>
      <app-region id="regions"  >  </app-region>
      <app-product id="products"> </app-product>
    </div>
    <div class="rightContent">
       <app-timeline id="timeline"> </app-timeline>
       <!--app-vector-product id="vectorProduct"> </app-vector-product -->
       <app-gallery id="gallery"> </app-gallery>
    </div>
  </div>


</div>
