.layer{
   background:black;
   padding:2px;
}

.head { 
      margin:1px;

     .layername { 
         flex-grow:1;
         padding-left:3px;
         p {padding:1px;margin:1px;}
     }

     border-radius: 0px 0px 5px 5px;
     border:1px solid black;
     cursor: default;
     background: #444;
     margin-bottom:1px;
     display:flex;
     justify-content:space-between;
     background:rgba(50,100,100,0.8);

    &:hover { 
        box-shadow: 0px 0px 5px white;
        color:white;
     
    }
}

.group {
  display:flex; 
  width:50px;
  justify-content:space-around;
     
}

.eye{
    border:1px solid #333;
    border-radius:5px;
    cursor:pointer;
    width:25px;
    height:20px;
    margin:2px;
    path {
      fill: white;
    }
    &.hideLayer{
        path {
            fill: black;
        }
        border:1px solid white;
    }

    img:hover { 
       border:2px solid #ccc;
       border-radius:10px;
       background: rgba(200,200,200,0.4);
    }
    &:hover { 
       box-shadow: 0px 0px 5px white;
       background: #333;
     }
}
.optionContainer {
  background: #555;
  margin:3px;
  margin-top:0px;
 }
.hideLayers {
     visibility:hidden;
 }

.alpha {
      background:#444;
      padding:2px;
      border:1px solid #555;
      label { vertical-align:top;}
      input{width:60%;margin-left:10px;}
}

.comp {
  background:#444;
  padding:2px;
  border:1px solid #555;
}

.extra{
 div { background:#333;margin:5px;}
}


h5 {
  padding:1px;
   margin:2px;
}
